.sort {
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: $GreySecondary;

  &__select {
    border: 1px solid $GreyElementsBorder;
    outline: none;
    height: 40px;
    padding: 0 17px 0 12px;
  }
  
  &__sort-by {
    margin-right: 16px;

    &_text {
      margin-bottom: 4px;
    }

    &_select {
      width: 176px;
    }
  }

  &__amount {

    &_text {
      margin-bottom: 4px;
    }

    &_select {
      width: 128px;
    }
  }
}
