@import "./styles/utils/reset.scss";
@import "./styles/utils/normalize.scss";
@import "./styles/utils/fonts.scss";
@import "./styles/utils/variables.scss";
@import "./styles/container.scss";
@import "./styles/BEM/header.scss";
@import "./styles/BEM/subtitle.scss";
@import "hero";
@import "./styles/BEM/switcher.scss";
@import "hot-price";
@import "./styles/BEM/card.scss";
@import "category";
@import "./styles/BEM/category-item.scss";
@import "new-models";
@import "./styles/BEM/footer.scss";

body {
  font-family: Mont, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
