.hero {
  width: 100%;

  &__slider {
    display: flex;
    height: 400px;
  }

  &__carrousel {
    background: url(./img/banners/iphone-mix-banner.png) center/cover no-repeat;
    width: 1040px;
    height: 100%;
    margin: 0 15px;
  }
}
